# This file contains common pin mappings for the BIGTREETECH EBB36
# GEN2 board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB12/PB13)" .
# The "EBB36 GEN2" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

#####################################################################
##                      MCU EBB36
#####################################################################
[mcu EBB]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_29000B000450315741363420-if00

# ------------------------------ EXTRUDER ------------------------------
[extruder]
step_pin: EBB:PB14
dir_pin: !EBB:PA8
enable_pin: !EBB:PB6
full_steps_per_rotation: 200
microsteps: 16
gear_ratio: 50:10
rotation_distance: 21.76302
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBB:PB4
sensor_type:PT1000
pullup_resistor: 2200
sensor_pin: EBB:PA3
control: pid
pid_Kp: 24.314
pid_Ki: 1.688
pid_Kd: 87.531
min_temp: -20
max_temp: 350
min_extrude_temp: 20
max_extrude_only_distance: 500.0
max_extrude_cross_section: 15

[tmc2209 extruder]
uart_pin: EBB:PB3
run_current: 0.650
stealthchop_threshold: 999999

[verify_heater extruder]
max_error: 120
check_gain_time: 120 
hysteresis: 50
heating_gain: 2



#####################################################################################################
#                                             TEMPERATURE SENSORS
#####################################################################################################
[temperature_sensor EBB36]
sensor_type: Generic 3950
sensor_pin: EBB:PA0
pullup_resistor: 2200



#####################################################################################################
#                                             FILAMENT SENSORS 
#####################################################################################################
[filament_switch_sensor filament_detector_before_extruder]
switch_pin: EBB:PA15

[filament_switch_sensor filament_detector_after_extruder]
switch_pin: EBB:PD0



#####################################################################################################
#                                             FANS
#####################################################################################################
[multi_pin pcf_pins]
pins: EBB:PA5, EBB:PD3

[fan]
pin: multi_pin:pcf_pins

[heater_fan hotend_fan]
pin: EBB:PD2
heater: extruder
heater_temp: 50.0



#####################################################################################################
#                                             RGB 
#####################################################################################################
[neopixel hotend_rgb]
chain_count: 3
pin: EBB:PC7
color_order: GRBW
initial_RED: 0.5
initial_GREEN: 0.5
initial_BLUE: 0.5
initial_WHITE: 0.5



#####################################################################################################
#                                             ACCELEROMETER 
#####################################################################################################
[lis2dw]
cs_pin: EBB:PB1
spi_bus:spi2_PB2_PB11_PB10
axes_map: x,y,z

#[temperature_sensor BME280]
#sensor_type: BME280
#i2c_mcu: EBB
##i2c_bus: i2c3_PA7_PA6
#i2c_software_scl_pin: EBB:PA7
#i2c_software_sda_pin: EBB:PA6

#endstop_pin: EBB:PA15
#diag_pin: ^EBB:PD1