#####################################################################################################
#                                        UNLOAD FILAMENT
##################################################################################################### 
[gcode_macro UNLOAD_FILAMENT]
gcode:
  G28                # Does homing if needed
  M109 S{220}        # Heat and wait hotend to reach 220°C
  G92 E0             # Reset extruder position
  M83                # Relative extruder distances
  G1 E-10 F360       # Retract and stop before cutter (60mm from nozzle) (20mm slow)
  G1 E-20 F720       # Retract and stop before cutter (60mm from nozzle) (40mm fast)
  CUT_FILAMENT
  G1 E-50 F720       # Retract until entrance of extruder
  G92 E0             # Reset extruder position
  
  # Unload filament
  # G90                                    # Set to absolute positioning
  # G1 X175 Y5 F7200                       # Move nozzle to (150,5) position at 7200mm/min
  # M109 S240                              # Heat nozzle to 240°C
  # G91                                    # Set to relative positioning
  # G1 E5 F120                             # Extrude 5mm of filament at 120mm/min
  # G1 E-50 F3600                          # Retract 50mm of filament at 3600mm/min
  # G1 E-20 F360                           # Retract 20mm of filament at 360mm/min
  # G92 E0                                 # Reset extruder position


  
#####################################################################################################
#                                         LOAD FILAMENT
#####################################################################################################
[gcode_macro LOAD_FILAMENT]
gcode:
  # Homing
  G28
    
  # Load filament
  G90                                    # Set to absolute positioning
  G92 E0                                 # Reset extruder position
  G1 E5 F360                             # Extrude 5mm of filament (for gripping it)
  G1 X175 Y5 F7200                       # Move nozzle to (150,5) position at 7200mm/min
  M109 S240                              # Heat nozzle to 240°C
  M106 S255                              # Turn on part cooling fan to cool filament block
  G92 E0                                 # Reset extruder position
  G91                                    # Set to relative positioning
  G1 E50 F600                            # Extrude 50mm of filament at 600mm/min
  G1 E10 F360                            # Extrude 10mm of filament at 360mm/min
  G92 E0                                 # Reset extruder position
  G90                                    # Set to absolute positioning
  M106 S0                                # Turn off part cooling fan



#####################################################################################################
#                                       LOAD FILAMENT WITH RETRACT
#####################################################################################################
[gcode_macro LOAD_FILAMENT_WITH_RETRACT]
gcode:
  # Grab filament
  G90                                    # Set to absolute positioning
  G92 E0                                 # Reset extruder position
  G1 E5 F360                             # Extrude 5mm of filament (for gripping it)

  # Homing
  G28
    
  # Load filament
  G1 X175 Y5 Z100 F7200                  # Move nozzle to (150,5) position at 7200mm/min
  M109 S240                              # Heat nozzle to 240°C
  M106 S255                              # Turn on part cooling fan to cool filament block
  G92 E0                                 # Reset extruder position
  G91                                    # Set to relative positioning
  G1 E50 F600                            # Extrude 50mm of filament at 600mm/min
  G1 E100 F360                           # Extrude 10mm of filament at 360mm/min
  G92 E0                                 # Reset extruder position
  G1 E-50 F3600
  G90                                    # Set to absolute positioning
  G92 E0                                 # Reset extruder position
  M106 S0                                # Turn off part cooling fan



#####################################################################################################
#                                             CUT FILAMENT
#####################################################################################################
[gcode_macro CUT_FILAMENT]
gcode:
  # Save current GCODE state
  SAVE_GCODE_STATE NAME=filament_cut_state

  G28                     # Homing (if needed)
  G91                     # Relative positionning
  G0 Z5                   # 5mm Z Hop (for safety)
  G90                     # Absolute positionning
  G0 X15 Y10 F18000       # Safe position (18 000 mm/min)

  # Slow move
  G0 X1 Y10 F8000         # Starting position
  G0 X1 Y26 F300          # End position
  G0 X1 Y10 F6000         # Starting position

  # Retract (for the depressor arm not to get stuck)
  G92 E0        # Reset extruder position
  M83           # Relative extruder distances
  G1 E-3 F1500  # Retraction move

  # Security moves
  {% for i in range(3) %}
    G0 X1 Y26 F2000
    G0 X1 Y10 F6000
  {% endfor %}

  # Starting safe position
  G0 X15 Y10 F8000        # Safe position

  # Moves to previously stored GCode state
  RESTORE_GCODE_STATE NAME=filament_cut_state MOVE=1 MOVE_SPEED=300 # 300 mm/sec
