[maintain]
interval: 180 # optional, time (in seconds) between checking if maintenance needs to be done (default is 60)


# Tighten extruder bolts every 10h of print time
[maintain ExtruderGears]
label: Extruder maintenance
trigger: print_time
threshold: 10
message: Tighten extruder bolts


# Clean extruder gears every 150m (half a spool approximatively)
[maintain ExtruderBolts]
label: Extruder gears
trigger: filament
threshold: 150
message: Clean extruder gears from filament and dust


# Change charcoal pellets every 100h of print time
[maintain AirFilter]
label: Air filter
trigger: print_time
threshold: 100
message: Replace charcoal pellets


# [maintain linear_rails]
# label: Linear Rails
# trigger: print_time
# threshold: 250
# message: Lubricate all linear rails



########################################################################
#                    MACRO - SHOW ALL MAINTENANCE STATUS
########################################################################
[gcode_macro SHOW_ALL_MAINTENANCE_STATUS]
gcode:
  CHECK_MAINTENANCE NAME=ExtruderGears
  CHECK_MAINTENANCE NAME=ExtruderBolts
  CHECK_MAINTENANCE NAME=AirFilter

