# Drawing of the cleaning station, with annoted distances
####################################################################################################################
#       
#            --- ###############   ###############################################################
#            |   #             #   #                                                             #
#      width |   # Parking pad #   #                       Silicon brush                         # --- y_middle
#            |   #             #   #                                                             #
#            --- ###############   ###############################################################
#                |      |          |
#      x_pad_start      x_park     x_brush_start
#     
####################################################################################################################


########################################################################
#                            CLEAN NOZZLE
########################################################################
[gcode_macro _CLEANING_NOZZLE_VARIABLES]
variable_width         : 7.0
variable_y_middle      : 341.5
variable_x_park        : 29.0
variable_x_pad_start   : 15.0
variable_x_brush_start : 35.0
variable_brush_length  : 35.0
gcode:



########################################################################
#                            CLEAN NOZZLE
########################################################################
[gcode_macro CLEAN_NOZZLE]




########################################################################
#                            GO TO PARKING
########################################################################
[gcode_macro GO_TO_PARKING]