####################################################################################################################
#                             Drawing of the cleaning station, with annoted distances                              #
####################################################################################################################
#                                                                                                                  #
#            --- ###############   ###############################################################                 #
#            |   #             #   #                                                             #                 #
#      width |   # Parking pad #   #                       Silicon brush                         # --- y_middle    #
#            |   #             #   #                                                             #                 #
#            --- ###############   ###############################################################                 #
#                |      |          |                                                                               #
#      x_pad_start      x_park     x_brush_start                                                                   #
#                                                                                                                  #
####################################################################################################################


########################################################################
#               Distances and dimensions of the cleaning pad
########################################################################
[gcode_macro _CLEANING_NOZZLE_VARIABLES]
variable_width            : 7.0
variable_y_middle         : 341.5
variable_x_brush_start    : 35.0
variable_brush_length     : 35.0
variable_x_park           : 29.0
variable_x_pad_start      : 15.0
variable_cleaning_speed   : 12000.0   # In mm/min
variable_rec_pattern      : True      # Rectangular pattern ("true" or "false") 
variable_rec_pattern_rep  : 2         # Number of times the rectangular pattern repeats
variable_zzag_pattern     : True      # Zig Zag pattern     ("true" or "false")
variable_zzag_pattern_rep : 3         # Number of times the Zig Zag pattern repeats  (1 rep = 1 back and forth)
variable_zzag_nb_teeths   : 5         # Nb of teeths in the pattern ('W' pattern is 3 teeths for ex.)
variable_park_state       : False     # !!!   Do not modify this one   !!!
gcode:


########################################################################
#                            GO TO PARKING
########################################################################
# [gcode_macro GO_TO_PARKING]


########################################################################
#                            CLEAN NOZZLE
########################################################################
[gcode_macro CLEAN_NOZZLE]
gcode:
    # Get variables in _CLEANING_NOZZLE_VARIABLES
    {% set width            = printer["gcode_macro _CLEANING_NOZZLE_VARIABLES"].width            %}
    {% set y_middle         = printer["gcode_macro _CLEANING_NOZZLE_VARIABLES"].y_middle         %}
    {% set x_brush_start    = printer["gcode_macro _CLEANING_NOZZLE_VARIABLES"].x_brush_start    %}
    {% set brush_length     = printer["gcode_macro _CLEANING_NOZZLE_VARIABLES"].brush_length     %}
    {% set cleaning_speed   = printer["gcode_macro _CLEANING_NOZZLE_VARIABLES"].cleaning_speed   %}
    {% set rec_pattern      = printer["gcode_macro _CLEANING_NOZZLE_VARIABLES"].rec_pattern      %}
    {% set rec_pattern_rep  = printer["gcode_macro _CLEANING_NOZZLE_VARIABLES"].rec_pattern_rep  %}
    {% set zzag_pattern     = printer["gcode_macro _CLEANING_NOZZLE_VARIABLES"].zzag_pattern     %}
    {% set zzag_pattern_rep = printer["gcode_macro _CLEANING_NOZZLE_VARIABLES"].zzag_pattern_rep %}
    {% set zzag_nb_teeths   = printer["gcode_macro _CLEANING_NOZZLE_VARIABLES"].zzag_nb_teeths   %}
    {% set park_state       = printer["gcode_macro _CLEANING_NOZZLE_VARIABLES"].park_state       %}

    # Constants / variables that will be used
    {% set x_brush_end  = x_brush_start + brush_length + 1                     %}
    {% set y_rec_max    = y_middle + ((width/2) - 1)                           %}
    {% set y_rec_min    = y_middle - ((width/2) - 1)                           %}
    {% set y_zzag_max   = y_middle + ((width/2) + 1)                           %}
    {% set y_zzag_min   = y_middle - ((width/2) + 1)                           %}
    {% set x_zzag_delta = (x_brush_end - x_brush_start) / (zzag_nb_teeths + 1) %}


    # Gets the extruder to temperature (if not already done) for the filament to be a bit soft
    {% printer.extruder.temperature > 150 %}
        M104 S{150} # Set temperature
    {% else %}
        M109 S{150} # Set temperature and wait for heating
    {% endif %}
    
    G28          # Home (having a "conditional homing" macro is a must)
    G90          # Absolute positionning

    ################################
    # Rectangular cleaning pattern #
    ################################
    {% if rec_pattern %}
        # Goes to the pattern "start position" if it was parked
        {% if park_state %}
            G0 X{x_brush_start}   Y{y_middle}   F{1500}
            G0 X{x_brush_end}     Y{y_middle}   F{cleaning_speed}
        {% endif %}

        # Main pattern loop
        {% for i in range(rec_pattern_rep) %}
            G0 X{x_brush_end}     Y{y_rec_max}   F{cleaning_speed}
            G0 X{x_brush_start}   Y{y_rec_max}   F{cleaning_speed}
            G0 X{x_brush_start}   Y{y_rec_min}   F{cleaning_speed}
            G0 X{x_brush_end}     Y{y_rec_min}   F{cleaning_speed}        
        {% endfor %}
    {% endif %}

    ############################
    # Zig Zag cleaning pattern #
    ############################
    {% if zzag_pattern %}
        # Goes to the pattern "start position" if it was parked
        {% if park_state %}
            G0 X{x_brush_start}   Y{y_middle}   F{1500}
            G0 X{x_brush_end}     Y{y_middle}   F{cleaning_speed}
        {% endif %}

        # Main pattern loop
        G0 X{x_brush_end}   Y{y_zzag_max}   F{cleaning_speed}    
        {% for i in range(zzag_pattern_rep * 2) %}
            {% for t in range(zzag_nb_teeths + 1) %}
                G0 X{(x_brush_end - ((t + 1) * x_zzag_delta)) if (i % 2 == 0) else (x_brush_start + ((t + 1) * x_zzag_delta))}   Y{y_zzag_min if (t % 2 == 0) else y_zzag_max}   F{cleaning_speed}
            {% endfor %}
        {% endfor %}
    {% endif %}