####################################################################################################################
#                             Drawing of the cleaning station, with annoted distances                              #
####################################################################################################################
#                                                                                                                  #
#            --- ###############   ###############################################################                 #
#            |   #             #   #                                                             #                 #
#      width |   # Parking pad #   #                       Silicon brush                         # --- y_middle    #
#            |   #             #   #                                                             #                 #
#            --- ###############   ###############################################################                 #
#                |      |          |                                                                               #
#      x_pad_start      x_park     x_brush_start                                                                   #
#                                                                                                                  #
####################################################################################################################


########################################################################
#               Distances and dimensions of the cleaning pad
########################################################################
[gcode_macro _CLEANING_NOZZLE_VARIABLES]
variable_width         : 7.0
variable_y_middle      : 341.5
variable_x_brush_start : 35.0
variable_brush_length  : 35.0
variable_x_park        : 29.0
variable_x_pad_start   : 15.0
variable_rec_pattern   : true     # Rectangular pattern ("true" or "false") 
variable_zzag_pattern  : true     # Zig Zag pattern     ("true" or "false")
variable_park_state    : false    # !!! Do not modify this one !!!
gcode:



########################################################################
#                            CLEAN NOZZLE
########################################################################
[gcode_macro CLEAN_NOZZLE]
gcode:
    # Variables
    {% set width         = printer["gcode_macro _CLEANING_NOZZLE_VARIABLES"].width %}
    {% set y_middle      = printer["gcode_macro _CLEANING_NOZZLE_VARIABLES"].y_middle %}
    {% set x_brush_start = printer["gcode_macro _CLEANING_NOZZLE_VARIABLES"].x_brush_start %}
    {% set brush_length  = printer["gcode_macro _CLEANING_NOZZLE_VARIABLES"].brush_length %}
    {% set rec_pattern  = printer["gcode_macro _CLEANING_NOZZLE_VARIABLES"].rec_pattern %}
    {% set zzag_pattern  = printer["gcode_macro _CLEANING_NOZZLE_VARIABLES"].zzag_pattern %}

    # Rectangular pattern
    {% if rec_pattern %}
        
    {% endif %}

    # Zig Zag pattern
    {% if zzag_pattern %}
    {% endif %}

########################################################################
#                            GO TO PARKING
########################################################################
[gcode_macro GO_TO_PARKING]