#####################################################################################################
#                                             PRINT START
#####################################################################################################
[gcode_macro PRINT_START]
gcode:
  {% set target_bed      = params.BED|int %}                             # Target bed temperature
  {% set target_extruder = params.EXTRUDER|int %}                        # Target nozzle temperature
  {% set material        = params.MATERIAL|upper %}
  {% set x_wait          = printer.toolhead.axis_maximum.x|float / 2 %}  # Bed center X
  {% set y_wait          = printer.toolhead.axis_maximum.y|float / 2 %}  # Bed center Y

  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=150                      # Preheat extruder for Z calibration later
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={target_bed}           # Start preheating bed now to save time

  # Set part cooling fans to full speed to cool down the nozzle faster (if temp > 155°C)
  {% if printer.extruder.temperature > 155|int %}
    M106 S255
  {% endif %}

  SET_DISPLAY_TEXT MSG="Homing all axes"                       # Display homing message
  SET_GCODE_OFFSET Z=0                                         # Reset Z offset
  G28                                                          # Home all axes
  G90                                                          # Set to absolute positioning

  SET_DISPLAY_TEXT MSG="Heating Bed: {target_bed}°C"           # Display bed heating message
  M190 S{target_bed}                                           # Wait for bed to reach target temperature
  
  SET_DISPLAY_TEXT MSG="Quad Gantry Leveling"                  # Display leveling message
  QUAD_GANTRY_LEVEL                                            # Perform Z QGL

  BED_MESH_CALIBRATE ADAPTIVE=1                                # Adaptive bed mesh
  
  SET_DISPLAY_TEXT MSG="Heating Nozzle  to 150°C"              # Display nozzle heating message
  M109 S{150}                                                  # Heat nozzle to smoosh filament for CARTOGRAPHER_TOUCH

  {% if printer.extruder.temperature > 155|int %}
    FAST_NOZZLE_COOLING TARGET_TEMP=150                        # Fast cooling macro (use part cooling fan)
  {% else %}
    M106 S0                                                    # Turn off part cooling fans
  {% endif %}

  SET_DISPLAY_TEXT MSG="Calibrating Z Offset"                  # Display Z offset calibration message
  CARTOGRAPHER_TOUCH SAMPLES=3 RETRIES=20 TOLERANCE=0.02       # Calibrate Z offset

  SET_DISPLAY_TEXT MSG="Heating Nozzle: {target_extruder}°C"   # Display nozzle heating message
  M109 S{target_extruder}                                      # Heat nozzle to target temperature
 
  SET_DISPLAY_TEXT MSG="Purging filament"                      # Display preparation message
  VORON_PURGE

  SET_FILAMENT_SENSOR SENSOR=filament_detector_before_extruder ENABLE=1  # Enable filament sensor
  SET_FILAMENT_SENSOR SENSOR=filament_detector_after_extruder  ENABLE=1  # Enable filament sensor
   
  G90                                                                    # Switch back to absolute positioning
  SET_DISPLAY_TEXT                                                       # Clear messages



#####################################################################################################
#                                             PRINT END
#####################################################################################################
[gcode_macro PRINT_END]                   # Set PRINT_END as the end-of-print macro to customise the after-print action.
gcode:
    SET_FILAMENT_SENSOR SENSOR=filament_detector_before_extruder ENABLE=0  # Disable filament sensor
    SET_FILAMENT_SENSOR SENSOR=filament_detector_after_extruder  ENABLE=0  # Disable filament sensor
    M400                           
    G92 E0                               # Zeroing the extruder
    G1 E-10.0 F3600                      # Retracting the filament
    G91                                  # relative position
    G0 Z1.00 X20.0 Y20.0 F24000          # Remove nozzle
    G1 E-10.0 F1800                      # Retract more filament
    TURN_OFF_HEATERS                     # Close the hot end
    M107                                 # Switch off the fan.
    G1 Z2 F3000                          # Move the nozzle up 2 mm
    G90                                  # absolute positioning
    G0 X175 Y320 Z150 F24000             # Park the nozzle at the rear
    BED_MESH_CLEAR                       # Unloading net beds
    SET_SKEW CLEAR=1                     # Unload skew profile
    SET_FILAMENT_SENSOR SENSOR=filament_detector_before_extruder ENABLE=1  # Enable filament sensor



#####################################################################################################
#                                             PAUSE
#####################################################################################################
[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  SET_FILAMENT_SENSOR SENSOR=filament_detector_before_extruder ENABLE=1  # Enable filament sensor
  SET_FILAMENT_SENSOR SENSOR=filament_detector_after_extruder  ENABLE=0  # Disable filament sensor
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  # {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  # {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  {% set x_park = 175 %}
  {% set y_park = 5 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %} 



#####################################################################################################
#                                             RESUME
#####################################################################################################
[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}
  SET_FILAMENT_SENSOR SENSOR=filament_detector_before_extruder ENABLE=1  # Enable filament sensor
  SET_FILAMENT_SENSOR SENSOR=filament_detector_after_extruder  ENABLE=1  # Enable filament sensor


  
#####################################################################################################
#                                             CANCEL PRINT
#####################################################################################################
[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
variable_park: True
gcode:
  ## Move head and retract only if not already in the pause state and park set to true
  {% if printer.pause_resume.is_paused|lower == 'false' and park|lower == 'true'%}
    _TOOLHEAD_PARK_PAUSE_CANCEL
  {% endif %}
  G92 E0                               # Zeroing the extruder
  G1 E-10.0 F3600                      # Retracting the filament
  G91                                  # Relative positionning
  G0 X10.0 Z2.0 F24000                 # Remove nozzle
  G1 E-25.0 F1800                      # Retract more filament
  TURN_OFF_HEATERS
  M107                                 # Switch off the fan.
  CANCEL_PRINT_BASE



#####################################################################################################
#                                             PARK - PAUSE AND CANCEL
#####################################################################################################
[gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL]
description: Helper: park toolhead used in PAUSE and CANCEL_PRINT
variable_extrude: 1.0
gcode:
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  # {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  # {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  {% set x_park = 175.0 %}
  {% set y_park = 15.0  %}
  
  {% set z_park_delta = 2.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - z_park_delta) %}
    {% set z_safe = z_park_delta %}
  {% else %}
    {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  # {% if printer.extruder.can_extrude|lower == 'true' %}
  #   M83
  #   G1 E-{extrude} F2100
  #   {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  # {% else %}
  #   {action_respond_info("Extruder not hot enough")}
  # {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G91
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
    {% if printer.gcode_move.absolute_coordinates|lower == 'false' %} G91 {% endif %}
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}